
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero-info {
        max-width: 25%;
        height:auto;
        margin-left: 4%;
        
    }

    .outro {
        margin-right: 10%;
        margin-left: 10%;
        font-size: 15pt;
    }


    .end-search {
        font-size: 10pt; 
    }   
 }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .hero-info {
        max-width: 28%;
        height:auto;
        margin-left: 4%;
        
    }

    .section-title {
        margin-top: 10%;
    }

    .outro {
        margin-right: 10%;
        margin-left: 10%;
        font-size: 15pt;
    }


    .end-search {
        font-size: 12pt; 
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        margin-top: 10%;
    }

    .outro {
        margin-right: 10%;
        margin-left: 10%;
        font-size: 11pt;
    }

    .icons img {
        display: inline-block;
        height: 15px;
        width: 15px;
    }
    
    .end-search {
        font-size: 6pt; 
    } 

    .contact-end {
        margin-top: 4%;
    }

    .copyright {
        font-size: 6pt;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 375px) {
    .hero-info {
        max-width: 30%;
        height:auto;
        margin-left: 4%;
        
    }

    .icons img {
        display: inline-block;
    }

    .outro {
        margin-right: 10%;
        margin-left: 10%;
        font-size: 11pt;
    }

    .end-search {
        font-size: 6pt; 
    }  

    .copyright {
        font-size: 6pt;
    }
}

