html {

    background-image: url("");
}

/* Photo Style Start*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.image {
    max-width: 100%;
    height:auto;
    padding-bottom: 15px;
}

.row {
    display: flex;
}

.carousel-item {
    height: 650px;
}

.d-block:hover {
    opacity: .5;
}

.carousel {
    margin-top: 5.5%;
}

.carousel-control-next-icon {
    color: gray;
    width: 20px;
}


/* MEDIA QUERY FOR SMALLER IPAD PRO SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    .end-search {
        font-size: 12pt; 
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero-info {
        max-width: 25%;
        height:auto;
        margin-left: 4%;
        
    }


    .end-search {
        font-size: 10pt; 
    }   
 }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .hero-info {
        max-width: 28%;
        height:auto;
        margin-left: 4%;
        
    }
    .carousel-end {
        margin-top: -10%;
    }


    .end-search {
        font-size: 12pt; 
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
     .carousel-end {
        margin-top: -40%;
    }

    .end-search {
        font-size: 8pt; 
    } 

    .copyright {
        font-size: 8pt;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 375px) {
    .hero-info {
        max-width: 30%;
        height:auto;
        margin-left: 4%;
        
    }
    .carousel-end {
        margin-top: -100%;
    }

    .end-search {
        font-size: 6pt;
    }

    .copyright {
        font-size: 6pt;
    }
}