/* Apply to all <elements> */
:root {
    --first: black;
    --second: #A8A9AB;
    --third: #FF76F2;
    --fourth:#00FFFF ;
    --fifth: #AAFFA8 ;
    --sixth: whitesmoke ;
    --seventh: #d891ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-image: url("../images/home-page-image.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* Apply styles to <header> */
header {
    padding: 30px;
    display: flex;
    flex-wrap: wrap; 
}

header a {
    text-decoration: none;
    color: var(--first);
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.10vw;
    padding-left: 15px;
}

.navbar {
    display: flex-end;
}

.icon-list {
    display: flex;
    padding-left: 10px;
}

.icons {
    padding-left: 6px;
}

.icons img {
    width: 18px; 
    height: 18px;
}

/* Hero Style Start */
.hero-info {
    font-size: 55px;
    line-height: .9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--first);
    margin-left: 6%;
    margin-top: -1%;
}

.name {
    padding-left: 27px;
}

/* Hero Style End */

/* About Me Style Start */
.intro, .examples, .contact { 
    background-color:var(--second);
    height: 550px; 
    width: 100%; 
    padding-left: 80px; 
    padding-top: 55px; 
    display: inline-block; 
    margin-bottom: 150px;
}

.section-title { 
    font-size: 90px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 
 .section-title.about {
     color: var(--third); 
     text-align: left;
}

.float-right img { 
   float: right; 
   margin-left: 85px;
   width: 450px; 
   height: 450px;
   padding-top: 15px;
   padding-bottom: 25px;
}

.intro p, .outro p { 
    color:var(--first); 
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 23px; 
    text-align: justify; 
    line-height: 1.2;
}

.intro p {
    padding-top: 12px; 
    padding-left: 15px;
    padding-right: 300px;
}
/* About Me Style End  */


/* Contact Style Start */
.section-title.reach-out {
    color:var(--fifth);
    padding-bottom: 50px;
}

.outro p {
    padding-top: 2px; 
    padding-left: 15px; 
    margin-right: 60%;
}

.contact-email {
    float: right;
    margin-right: 75px;
    margin-top: -9%;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color: var(--fifth);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Contact Style End */




/* MEDIA QUERY FOR SMALLER IPAD PRO SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
        font-size: 2.20vw;
    }
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
        font-size: 2.20vw;
    }
 }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
    font-size: 2.20vw;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
    font-size: 2.20vw;
    }

    .hero-info {
        font-size: 30pt;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 375px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
    font-size: 2.20vw;
    }

    .hero-info {
        font-size: 30pt;
    }
}