/* Apply to all <elements> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-image: url("../images/home-page-image.jpg");
    background-size: cover;
    background-position: 80%; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
  }

/* Apply styles to <header> */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/home-page-image.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 10px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.20vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero-info {
    width: 50%;
    margin: 20%;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height:1.2;
    font-weight: bold;
}

.hero-info h1 {
    font-size: 65px;
    font-style: italic;
}

.hero-info h2 {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.intro img {
    max-height: 200px;
}
/* Hero Style Start */

/* About Me Style Start */
.intro, .examples, .contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 650px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:whitesmoke;
    width: 85%;
    display: inline-block;
    margin:150px 100px;
}

.intro {
    background-color:#434446;
}
.section-title {
    font-size: 75px;
    text-align: left;
    width: 50%;
    vertical-align: top;
}

.intro p, .contact p, .contact-form {
    color: whitesmoke;
    margin: 10;
}

.section-title.about {
    color:#FF76F2;
}
/* About Me Style End  */

/* Work Style Start */
.examples {
    background-color: ;
}

.section-title.work {
    color: #00FFFF;
}

.examples {
    background-color:#A8A9AB;
}
/* Work Style End */

/* Contact Style Start */

.contact {
    background-color:#434446 ;
}

.section-title.reach-out {
    color:#AAFFA8;
}

.outro p {
    margin: 20px 0;
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: whitesmoke;
}

.contact-form input, .contact-form textarea {
    border: 3px solid whitesmoke;
    display: block;
    padding: 4px 15px;
    font-size: 16px;
    color: #434446;
    width: 25%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form input, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 0.75);
    outline: none;
  }
.contact-form button {
    width: 8%;
    border:3px solid whitesmoke;
    background:#A8A9AB;
    color: #434446;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

/* Contact Style End */

/* Apply styles to <footer> */
footer {
    color: whitesmoke;
    text-align: left;
}