/* Apply to all <elements> */
:root {
    --first: black;
    --second: #A8A9AB;
    --third: #FF76F2;
    --fourth:#00FFFF ;
    --fifth: #AAFFA8 ;
    --sixth: whitesmoke ;
    --seventh: #d891ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-image: url("../images/web-work-image.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* Apply styles to <header> */
header {
    padding: 30px;
    display: flex;
    flex-wrap: wrap; 
}

header a {
    text-decoration: none;
    color: var(--first);
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.10vw;
    padding-left: 15px;
}

.navbar {
    display: flex-end;
}

.icon-list {
    display: flex;
    padding-left: 10px;
}

.icons {
    padding-left: 6px;
}

.icons img {
    width: 18px; 
    height: 18px;
}

/* Hero Style Start */
.hero-info {
    display: inline-block;
    font-size: 55px;
    line-height: .9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--first);
    margin-left: 11%;
    margin-top: 0%;
}

.name {
    padding-left: 27px;
}

/* Hero Style End */

/* Work Style Start */
.section-title.work {
    color: var(--fourth);
}

.work-grid-wrapper {
    display: flex;
}

.work-grid-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column dense;
    /* repeat(iterator, size) */
    grid-template-columns: 5fr repeat(4, 3fr);
    grid-gap: 20px;
    margin-left: 90px;
    margin-top: 12px;
}

.work-grid-item {
    display: flex;
    border: 3px solid var(--sixth);
    border-radius: 3px;
}

.work-grid-item span {
    background-color: var(--fourth);
}

.work-grid-item:hover {
    opacity: .5;
}

.work-grid-item.large {
    grid-column: 1 / span 2;
    grid-row: span 9;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 450px 315px;
}

.work-grid-item.one, .work-grid-item.two, .work-grid-item.three {
    grid-column: 3 / span 2;
    grid-row: span 3;
    height: 90px;
}

.run-buddy, .horiseon, .placeholder {
    background-color:gray;
}

.run-buddy h4 {
    padding-top: 125px;
    padding-left: 2px;
    font-size: 30px;
    color: var(--sixth);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.horiseon h4, .placeholder h4 {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 2px;
    color: var(--sixth);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.horiseon p, .run-buddy p, .placeholder p {
    font-size: 14px;
    color: var(--sixth);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 3px;
}

.work-grid-item.one {
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: top left;
}

.work-grid-item.two {
    background-image: url(../images/search-engine-optimization.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: center left;
}

.work-grid-item.three {
    background-image: url(../images/social-media-marketing.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: right center;
}

.work-grid-item.large a {
    width:300px;
    border: none;
    opacity: 0;
}

.work-grid-item.one a, .work-grid-item.two a, .work-grid-item.three a {
    width: 250px;
    height: 84px;
    border: none;
    opacity: 0;
}
/* Work Style End */





/* MEDIA QUERY FOR SMALLER IPAD PRO SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
        font-size: 2.20vw;
    }
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
        font-size: 2.20vw;
    }
 }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
    font-size: 2.20vw;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
    font-size: 2.20vw;
    }

    .hero-info {
        font-size: 30pt;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 375px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul li a {
    font-size: 2.20vw;
    }

    .hero-info {
        font-size: 30pt;
    }
}