html {
    background-image: url("");
}

/* Work Style Start*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-left: 14%;
    margin-right: -10%;
    margin-top: 3%;
}

/* .type {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
} */

.skills {
    margin-top: 2%
}


.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgb(31, 91, 72);
    transition: all 0.5s;
    color: white;
}

.service-item h4 {
    transition: all 0.5s;
    font-size: 16pt;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: white;
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
}

.service-item .first-service-icon {
    background-image: url(../images/third-white-icon.png);
}

.service-item:hover .first-service-icon {
    background-image: url(../images/third-main-icon.png);
}

.service-item .second-service-icon {
    background-image: url(../images/first-white-icon.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../images/first-main-icon.png);
}


.card {
    height: 1100px;
}

.a {
    height: 1100px;
}

.three {
    height: 995px;
}


.one {
    margin-left: 7%;
}

.kickback {
    width: 100%;
    
}

.info {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 11pt;
}


.tech {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    font-weight: bold;
    margin-left: 30px;
}

.card-link {
    color: rgb(176, 78, 218);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

.card-link:hover {
   color: darkgray;
}


/* End Nav Start*/
.web-end {
    margin-top: 4%;
}


/* MEDIA QUERY FOR SMALLER IPAD PRO SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    .type {
        font-size: 14pt;
        margin-left: 20%;
    }

    .card {
        height: 1280px;
    }

    .end-search {
        font-size: 12pt; 
    }

    .card {
        height: 900px;
    }
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero-info {
        max-width: 25%;
        height:auto;
        margin-left: 4%;
        
    }

    .type {
        font-size: 15pt;
        margin-left: 20%;
    }


    .end-search {
        font-size: 10pt; 
    }

    .card {
        height: 1100px;
    }

    .a {
        height: 1200px;
    }

    .three {
        height: 900px;
    }
    
 }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .hero-info {
        max-width: 28%;
        height:auto;
        margin-left: 4%;
        
    }
    
    .type {
        font-size: 15pt;
        margin-left: 30%;
    }

    .card {
        height: 1700px;
    }

    .a {
        height: 1800px;
    }

    .three {
        height: 1300px;
    }

    .info {
        padding-left: 10px;
        text-align: left;
    }

    .kickback {  
        padding-left: 15px;
        height: 100px;  
    }

    .end-search {
        font-size: 12pt; 
    }
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        margin-top: 10%;
        margin-left: 10%;
    }

    .kickback {  
        padding-left: 5px;
        height: 300px;  
    }

    .card {
        height: 900px;
    }
   
    .type {
        margin-left: 25%;
        font-size: 11pt;
    }

    .info, .tech, .card-link {
        font-size: 11pt;
    }
    
    .end-search {
        font-size: 6pt; 
    } 

    .copyright {
        font-size: 6pt;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 414px) {
    .kickback {  
        padding-left: 5px;
        height: 250px;  
    }

    .card {
        height: 1100px;
    }

    .three {
        height: 750px;
    }
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 375px) {
  
    .type {
        font-size: 11pt;
        margin-left: 25%;
    }

    .kickback {  
        padding-left: 5px;
        height: 200px;  
    }

    .card {
        height: 1200px;
    }

    .three{
        height: 775px;
    }


    .card-link {
        font-size: 12pt;
    }

    .hero-info {
        max-width: 30%;
        height:auto;
        margin-left: 4%;
        
    }

    .section-title {
        margin-top: 10%;
        margin-left: 11%;
    }
    
    .end-search {
        font-size: 6pt; 
    }

    .copyright {
        font-size: 6pt;
    }
}
